.textalign{
    color:red;
    text-align: center;
    font-size:40px;
    font-family:Sofia, Helvetica, sans-serif;/* as Sofia family 
    is not available it will degrade to next one*/
}
.my_img{
    width: 400px;
    padding-left: 4%;padding-right: 4%;padding-top: 10%;padding-bottom: 5%;
    border-color: rgb(255, 0, 64);
    border-width: 11px;
    border-style: solid;
    border-radius: 50%;
    
}
#div_id{
    background-color: #0ff;
    margin-top: 4%;margin-bottom: 5%;margin-left: 3%;margin-right: 0%;

}