body{
    background-color: beige;
    color: green;
    font-family: monospace;
    
}

#div_id{
    background-color: rgb(161, 63, 63);
}
.my_class{
    font-size: 1.5em;
    border: 5px solid #444;
    background-color: gray;
}
.my_h1{
    color: #f00 !important;
}
.this_h1{
    color: #00f;
}
.p_class{
    color: red;
}
