body{
    background-color: beige;
    color: green;
    font-family: monospace;
    
}

.div_class{
    background-color: #0ff;
    margin-top: 4%;margin-bottom: 5%;margin-left: 3%;margin-right: 0%;
    font-size: 0.5in;
}
#div_id{
    background-color: #fff;
}
.my_class{
    font-size: 1.5em;
    border: 5px solid #000000;
}
.my_h1{
    color: #f00 !important;
}
.this_h1{
    color: #00f;
}
